.logo {
    font-weight: 600;
}
.nav-wrapper{
    z-index: 1800;
}
.side-nav{
    top: 64px;
    z-index: -1;
}

.info h5{
    width:100%;
    margin-top: 0;
    padding-top: 1em;
}
.info p {
   margin-bottom: 0;
   padding-bottom: 1em;
}
.card-panel{
    margin: 0;
}
.learnMore{
    margin-top:1em;
}
.formSubmit{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto !important;
    margin-right: auto !important;
}
.checkBoxes{
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.middleCard-contact{
    margin-top:0;
    padding-top:1em;
    margin-bottom: 2em;
}
.middleCard-contact h5{
    margin-top:0;
    margin-bottom: 1em;

}